name: Build container
on:
  pull_request:
  push:
  schedule:
    - cron: '0 0 * * 1'

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      DOCKER_REPO_PREFIX: inspircd
      DOCKER_REPO_NAME: inspircd-docker
      INSP_VERSION: v3.10.0
    steps:
      - 
        uses: actions/checkout@v2
      - 
        name: Pipeline variables
        id: pipeline_vars
        run: |
          EXPECTED="inspircd/inspircd docker-refs/heads/master";
          ACTUAL="$REPO $REF";

          echo "Expected: $EXPECTED"
          echo "Actual:   $ACTUAL"

          if [ "$EXPECTED" == "$ACTUAL" ]; then
            echo "::set-output name=push::true"
            echo "::set-output name=platforms::linux/amd64,linux/arm64"
          else
            echo "::set-output name=push::false"
            echo "::set-output name=platforms::linux/amd64"
          fi
        env:
          REPO: ${{ github.repository }}
          REF: ${{ github.ref }}
      - 
        name: Prepare environment
        run: |
          sudo apt-get -qq update
          sudo apt-get -y -o Dpkg::Options::="--force-confnew" install moby-engine moby-cli
          sudo apt-get install -y openssl parallel
      - 
        name: Build and test amd64 image
        run: |
          IP=$(ip addr s \
            | grep global \
            | grep -oE '((1?[0-9][0-9]?|2[0-4][0-9]|25[0-5])\.){3}(1?[0-9][0-9]?|2[0-4][0-9]|25[0-5])' \
            | head -n1)

          echo "docker swarm init on $IP"
          docker swarm init --advertise-addr $IP
          docker build --build-arg VERSION="${INSP_VERSION}" -t inspircd:testing .

          echo "* * * Image built, running tests... * * *"
          ./run_tests.sh
          echo "* * * Tests OK! * * *" 
        env:
          INSP_VERSION: ${{ env.INSP_VERSION }}
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.DOCKER_REPO_PREFIX }}/${{ env.DOCKER_REPO_NAME }}
          tags: |
            type=semver,pattern={{version}},value=${{ env.INSP_VERSION }}
            type=semver,pattern={{major}}.{{minor}},value=${{ env.INSP_VERSION }}
            type=semver,pattern={{major}},value=${{ env.INSP_VERSION }}
      - 
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        if: github.repository == 'inspircd/inspircd-docker' && github.ref == 'refs/heads/master'
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: VERSION=${{ env.INSP_VERSION }}
          platforms: ${{ steps.pipeline_vars.outputs.platforms }}
          push: ${{ steps.pipeline_vars.outputs.push }}
          tags: ${{ steps.meta.outputs.tags }}
      - 
        name: Docker Hub Description
        if: github.repository == 'inspircd/inspircd-docker' && github.ref == 'refs/heads/master'
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ env.DOCKER_REPO_PREFIX }}/${{ env.DOCKER_REPO_NAME }}
          short-description: Official image for InspIRCd Internet Relay Chat server. https://www.inspircd.org
          readme-filepath: README.md
